@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* || GENERAL */
:root{
    --color-one: #f2f2f2;
    --color-two: #262626;
    --color-three: #a19f9f;
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fira Sans', sans-serif;
    background-color: var(--color-two);
    color: var(--color-one);
}

header{
    display: flex;
    height: 10vh;
    justify-content: end;
    align-items: center;
    /* TYPOGRAPHY */
    font-weight: bold;
    font-size: 2em;
}

header,
main,
footer{
    padding: 1rem 2rem;
}

main{
    display: flex;
    flex-direction: column;
    height: 95vh;
}

footer{
    background-color: #f2f2f2;
    height: 100vh;
    color: var(--color-one);
}


.head-tag{
    /* TYPHOGRAPHY */
    font-size: 3em;
    font-weight: bold;
    padding-top: 5rem;
}

.options a{
    color: #a19f9f;
    text-decoration: none;

}

/* || COMPLEXITY */
@media (min-width:767px){
    header,
    main,
    footer{
        padding: 1rem 10rem;
    }

    .head-tag{
        /* TYPHOGRAPHY */
        font-size: 7em;
    }
}